
          <div class="mentorship">
            <h2>mentorship</h2>
            <p>I enjoy mentoring and collaborating with students. Some amazing undergrads I've worked with:</p>
            <ul>
              <li><a href="https://linkedin.com/in/alexander-yun-19ab74181">Alexander Yun</a> — Weight Updates as Activation Shifts (Fall'25–Spring'26) → SWE at industry</li>
              <li><a href="https://yijingz02.github.io/">Yijing Zhang</a> — Alignment: Simplified (Fall'24–Spring'25) → Next: PhD at UW-Madison</li>
              <li><a href="https://clrt19.com/">Linrong (Chris) Cai</a> — RoboShot (Fall'23–Spring'24) → Next: MSE at Princeton</li>
            </ul> 
          </div>
